<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas en la Base de Datos</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1>Tablas en la Base de Datos</h1>
    </header>
    <main class="container">
        <% tablas.forEach(tabla => { %>
            <li><%= tabla %></li>
        <% }); %>
    </ul>
    </main>
    <footer>
        <p>&copy; 2024 DBMinder. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
